html {
    scroll-behavior: smooth;
  }
  a:hover, a:active, a:focus {
    color:#fff;
  }

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;color: #626262;
    line-height: 1.3;
}   
.no-scroll {
  overflow: hidden;
}

    *,
    *:before
    *:after
    {
        box-sizing: border-box;
    }
    h1,h2,h3,h4,h5,h6{margin: 0;}
    /*Container*/
    .container{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    }

    .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9998;
  display: none;
}

.blur {
  display: block;
}
    #services_item_popup{
        position: fixed;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 600px;
        padding: 50px;
        box-shadow: 0 5px 30px rgba(0,0,0,0.30);
        background: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    #services_item_popup.active{
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
        z-index: 9999;
    }
    /* Intro */
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 880px;

        background: url(../images/index_intro.png)center no-repeat;
        background-size: cover;
    }

    .intro_inner{
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
    }

    .intro_title{
        padding-top: 50px;
        font-size: 70px;
        font-weight: 700;
        color: #fff;

        
      
    }

    .intro_title::after{ 
        margin-top: 10px; 
        content: "";
        display: block;
        width: 450px;
        height: 8px;
        border-radius: 10px;

        background-color: #fff;

    }

    .intro_subtitle{
        margin-top: 20px;
        width: 100%;
        max-width: 950px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;


    }

    /* Header */
    .header{
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    .head_info{
        
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #DFDDDD;
        height: 72px;
        width: 100%;
    }
    .head_logo{
        background: url(../images/logo.png)left no-repeat; 
        width: 190px;
        height: 50px;    
        margin: 0 20px;
    }

        .contacts{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px 10px;
            padding-top: 10px;
        }

        .contacts_block{
            
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        color: #373737;
        line-height: 1.3;
        margin-left: 3px;
        margin-right: 20px;
    }

        .contacts_icon{
            font-size: 25px;
            margin: 0;
        }

        .contacts_text{
            margin-left: 5px;
        }


        .call_button{
            width: 200px;
        background-color: #0205CF;
        color: #fff;
        font-weight: bold;
        font-size: 17px;

        border: none;
        border-radius: 5px;

     
        padding-top:15px ;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 20px;

        transition: background-color .5s,color .5s;
    }

        .call_button:hover{
        
        background-color: #c0c1fffd;
        color: #3d3fc2e2;
    }

        .request_button{
            width: 200px;

        background-color: #fff;
        color: #0205CF;
        font-weight: bold;   
        font-size: 17px; 
    
        border: none;
        border-radius: 5px;

        padding-top:15px ;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 20px;

        transition: background-color .5s,color .5s;

    }
        .request_button:hover{
        background-color: rgb(12, 68, 251);
        color: #ddddf4;
    }

    .head_menu{
        display: flex;
        justify-content: center;
        width: 100%;

        background-color: #58585887;
        height: 48px;
        margin: 0 auto;
        align-items: center;

    }

    .nav{font-size: 15px; font-size: medium;}

    .nav_button{
        background-color: rgba(28,28,28,0);
        color:#fff;
        padding: 15px;
        font-size: 16px;
        border: none;
      }

    .nav_button:hover{color:#fff; background-color: #4a3dae87;}
    
    .nav_button:hover:after{opacity: 1;}

    .nav_link{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;

        color: #fff;
        text-decoration: none;   

        transition: color .5s;
        text-align: center;
    }
 
    .dropdown {
        position: relative;
        display: inline-block;

        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 8px;
      }
      
      .dropdown-content a {
        color: black;
        padding-top: 8px;
        font-size: 13px;
        padding-bottom: 8px;
        display: block;

      }
      
      .dropdown-content a:hover {
        
        background-color: #ddd;
        
    }
      
      .dropdown:hover .dropdown-content {
        display: block;
        
    }
      
      .dropdown:hover .nav_button {
        background-color: #4a3dae87;
        
    }

    .section{
        padding-top: 40px;
    }

    .section_header{
        width: 100%;
        max-width: 950;
        margin: 0 auto 50px;
        text-align: center;

        font-size: 60px;
        color: #091747;
    }


    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }

    .about_item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
    }

    .about_img{
    }

    .about_text{
        width: 550px;
        display: flex;
        flex-direction: column;
    }

    .about_title{
        font-size: 16px;
        font-weight:normal;
        position: relative;
    }
    .about_title:after{
        content: "";
        display: block;
        width: 15%;
        height: 4px;
        background-color: #00F2B9;
        position: absolute;
        border-radius: 10px;;
    }

    .about_subtitle{
        margin-top: 40px;
        font-size: 16px;
    }



    .services_item:hover .services_img{
        
        transform: translate3d(-5px,-5px,0);
    }

    .services_item:hover .services_img img{
        
        opacity: 0.7; 
    }

    .services_img{
        background: linear-gradient(to bottom, rgb(41, 89, 246), #fff);
        border-radius: 50px;

        transition: transform .2s linear;
    }

    .services_img img{
        display: block;
        transition: opacity .2s linear;
    }

.container_dark{
    display: flex;
    flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        align-items: center;

        background: #474242;
    }

.section_header_dark{
    
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;

    font-size: 50px;
    color: #fff;
}

.advantages_row{
    margin-top: 60px;
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
}

.advantages_item{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    max-width: 200px;

}

.advantages_img{
}

.advantages_text{
    text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        color: white;
}

.section_header_subtitle{  
    width: 100%;
    max-width: 750px;
    margin: 0 auto 50px;
    text-align: center;

    font-size: 25px;
    color: #091747;
}

.slider_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 30%;
}


.swiper-slide img{
    width: 100%;
    align-items: center;
}



.form_container{
    margin-bottom:40px;
    display: flex;
    flex-direction: column;
    align-self: center; 
    width: 400px; 
    height: max-content; 
    row-gap: 24px; 
    box-shadow: rgba(95, 98, 173, 0.3) 0px 20px 30px -10px; 

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    min-width: 350px; 
    height: max-content; 
    width: 200px; 
    margin: 0px; 
    justify-content: flex-start; 
    row-gap: 15px; 
}

.mb-3{
    display: flex;
    justify-content: center;
}


.form-control{
    z-index: 4; 
    width: 100%;
    border: 1px solid rgb(189, 189, 189); 
    background-color: var(--color_surface_default); 
    box-sizing: border-box; 
    border-radius: 5px; 
    font-family: var(--font_default); 
    font-size: 15px; 
    font-weight: 400; 
    color: var(--color_text_default); 
    padding: 20px 8px;   
}

.button_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    width: 100%; 
}

.btn{
    width: 100%;
    background-color: #0205CF;
    color: #fff;
    font-weight: bold;
    font-size: 14px;

    border: none;
    border-radius: 5px;
    
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    transition: background-color .5s,color .5s;
}

.btn:hover{
    
    background-color: #c0c1fffd;
    color: #3d3fc2e2;

}

.form_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    max-width: 400px; 
    min-height: 300px; 
    height: max-content; 
    margin: 0px 80px;  
    overflow: visible; 
}

.form_info_title{
    height: max-content; 
    overflow: visible; 
    font-size: 28px; 
    font-weight: bold; 
    color: rgb(52, 51, 51); 
    line-height: 1.4; 
}

.form_info_subtitle{
    align-self: flex-start; 
    height: max-content; 
    width: 100% ; 
    margin-top: 40px; 
    overflow: visible; 
    font-size: 18px; 
    font-weight: 400; 
    color: rgb(52, 51, 51); 
    line-height: 1.4; 
    padding: 0px 0px 20px; 
}

.geogr_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.props{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.props_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.props_img{
    margin-right: 80px;
}

.props_text{
    width: 550px;
    display: flex;
    flex-direction: column;
}

.props_title{
    font-size: 16px;
    font-weight:normal;
    position: relative;
}
.props_title:after{
    content: "";
    display: block;
    width: 15%;
    height: 4px;
    background-color: #00F2B9;
    position: absolute;
    border-radius: 10px;;
}
.props_subtitle{
    margin-top: 40px;
    font-size: 16px;
}

/* FOOTER */
.footer{
    background: #E1E1E1;
    padding-top: 20px;
    padding-bottom: 0px;
    
}

.footer_inner{
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.footer_col--first{
    width: 25%;
}

.footer_sub_logo{
    font-size: 15px;
    font-weight: 500;
    color: #091747;
    
}

.footer_logo{
    font-size: 30px;
    font-weight: 700;
    color: #091747;
}

.footer_text{
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 13px;
    color: #474242;
}

.footer_social{
    margin-bottom: 25px;
}

.footer_social_content{
    display: flex;
    flex-direction: row;
}
.footer_social_content a{
    margin-right: 8px;
    font-size: 13px;
    color: #474242;
}

.footer_col--second{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_col_item{
    display: flex;
    flex-direction: column;
}

.footer_title{
    font-size: 15px;
    font-weight: 700;
    color: #091747;
}
.footer_subtitle{
    padding-left: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #091747;
}

.footer_col--third{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_col_but{
    margin-top: 25px;
    width: 250px;
}


.modal-content{
    margin-bottom:40px;
    display: flex;
    flex-direction: column;
    align-self: center; 
    border-style: solid; 
    border-width: 2px; 
    row-gap: 20px;
    background-color: white;
    padding: 25px  20px 25px 20px ;
    border-radius: 10px; 
    width: 400px; 
    position: relative;
    
}

.modal-form{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    height: max-content;
    row-gap: 20px;
         

}

.close{
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}


.grid_container{
    
  display: grid;
  gap: 12px;
  column-gap: 12px;
  /* grid-template-rows: 500px auto 200px; */
  

}

[class^="grid_row-"]{
    /* Размещаем контейнеры по центру */
    display: grid;
}

.grid_row-1{
    gap: 12px;
    grid-template-columns: auto auto auto;
}

.grid_row-2{
    gap: 12px;
    grid-template-columns: auto auto auto;
}

.grid_row-3{
    gap: 12px;
    grid-template-columns: auto auto auto;
}

.grid_row-4{
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.nav_container{
    display: flex;
}


/* GEOGRAPHY ABOUT SECTION */
.geogr_about_container{
    width: 1000px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}
  
.info_block-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    font-size: 15px; 
    color: white; 
    opacity: 0; 


    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: right; 

    transform: translateX(100%); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

.info_block-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    font-size: 15px; 
    
    text-align: end;
    color: white; 
    opacity: 0; 

    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left; 

    transform: translateX(-100%); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .hover_button:hover + .info_block-right {
    opacity: 1;
    height: auto;
  }
  
  .hover_button:hover + .info_block-left {
    opacity: 1;
    height: auto;
  }
  
  .geogr_about_container:hover .info_block-left {
    opacity: 1;
    transform: translateX(0%);
  }

  .geogr_about_container:hover .info_block-right {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .hover_button{
    height: 180px;
    border: none; 
    background-color: transparent; 
    outline: none; 
    box-shadow: none; 
    padding: 0;
  }

  .hover_button_image{
    height: 180px; 
    transition: transform 0.5s ease-out;
  }

  .icon_row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-self: flex-end;
  }
  .geogr_about_icon{
    height: 40px;
  }

  .info_content{ 
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
